---
import ClickTracker from "@/components/click-tracker.astro";
import Editor from "@/components/editor.astro";
import Icon from "@/assets/images/icons/saschaklatt.svg";
import {numToPx} from "@/utils";
import {getBreakpoints} from "@/utils";

import SvgWavesStage from "@/assets/images/waves-header.svg";
import imageIphone from "@/assets/images/iphone-sascha.webp";
import imageIphone2x from "@/assets/images/iphone-sascha@2x.webp";
import imageIphone4x from "@/assets/images/iphone-sascha@4x.webp";

import type {CtaProps, EditorTab} from "@/typedefs";

interface Props {
    id?: string;
    developerName: string;
    developerTitle: string;
    editorTabs: EditorTab[];
    ctas: CtaProps[];
}

const {developerName, developerTitle, editorTabs, id, ctas} = Astro.props;

const breakpoints = getBreakpoints();
---

<section class="bg-hero-gradient flex flex-col justify-center" id={id}>
    <div
        class="content w-full md:w-auto pt-20 md:pt-32 pb-20 inline-flex items-center flex-col-reverse md:flex-row-reverse gap-x-32 gap-y-8"
    >
        <div class="flex flex-col gap-y-8 relative w-full md:w-132">
            <Icon
                class="w-40 h-40 md:w-24 md:h-24 absolute -top-60 left-1/2 text-neutral-900 md:left-auto md:-top-5 md:right-0 rotate-12 drop-shadow-2xl"
            />
            <h1 class="text-center md:text-left drop-shadow-2xl uppercase" slot="stage">
                <span class="block font-bold mb-2 lg:mb-4 text-2xl md:text-3xl lg:text-4xl text-neutral-900">{developerName}</span
                >
                <span class="font-serif block text-4xl lg:text-6xl">{developerTitle}</span>
            </h1>
            <Editor className="drop-shadow-2xl" tabs={editorTabs} />
            <div class="flex flex-col md:flex-row gap-y-2 md:gap-x-4 md:gap-y-0 drop-shadow-2xl">
                {
                    ctas.map((cta) => (
                        <ClickTracker trackingEvent={cta.trackingEvent}>
                            <a class:list={["w-full md:w-auto", cta.class]} href={cta.href} target={cta.target} rel={cta.rel}>
                                {cta.text}
                            </a>
                        </ClickTracker>
                    ))
                }
            </div>
        </div>
        <div class="relative shrink-0">
            <picture>
                <source
                    srcset={`${imageIphone.src}, ${imageIphone2x.src} 2x`}
                    media={`(max-width: ${numToPx(breakpoints.md)})`}
                />
                <source
                    srcset={`${imageIphone2x.src}, ${imageIphone4x.src} 2x`}
                    media={`(min-width: ${numToPx(breakpoints.md + 1)})`}
                />
                <img
                    class="-rotate-6 -translate-x-10 md:translate-x-8 lg:translate-x-0 w-32 md:w-auto drop-shadow-2xl"
                    src={imageIphone2x.src}
                    width="251"
                    height="451"
                    alt="An iPhone showing Sascha Klatt."
                />
            </picture>
        </div>
    </div>
    <SvgWavesStage class="w-full" />
</section>
