---
import ButtonHome from "../components/button-home.astro";
import SectionStage from "../components/section-stage.astro";
import {CheckboxMatomoUserOptOut} from "../components/checkbox-matomo-opt-out";
import Layout from "../layouts/main.astro";

import me from "../content/me.json" assert {type: "json"};

const {name, address} = me;
const {street, city, country, zipCode} = address;
---

<Layout
    slug="/privacy-notice"
    title="Privacy notice | Sascha Klatt"
    description="Your privacy is paramount to me. Learn how I collect, use, and protect your data with transparency."
>
    <SectionStage>
        <div class="content drop-shadow-2xl max-w-6-xl w-full">
            <ButtonHome />
            <header class="w-full text-center">
                <h1 class="block font-serif text-5xl md:text-6xl mb-24 mt-16 md:mt-44 md:mb-52">{"Privacy notice"}</h1>
            </header>
        </div>
    </SectionStage>
    <section>
        <div class="content text-lg max-w-prose my-24 md:my-24">
            <section class="my-20 md:my-32">
                <h2 class="headline-2">General information</h2>
                <p class="paragraph">
                    a) I am pleased about your visit on my website. The protection and security of your data are very important to
                    me. I have therefore designed my website in such a way that as little personal data as possible is collected
                    or processed. The following declaration on data protection explains what information I collect during your
                    visit to my website under the domain saschaklatt.dev and which parts of this information may be used in which
                    way.
                </p>
                <p class="paragraph">
                    b) This privacy notice is subject to changes to account for ongoing improvements to my online presence and the
                    implementation of new technologies to enhance my services. I reserve the right to make changes to this privacy
                    notice. I recommend consulting this privacy notice on a regular basis to account for any changes.
                </p>
            </section>
            <section>
                <h2 class="headline-2">1. Information on the collection of personal data</h2>
                <p class="paragraph">
                    a) This privacy notice provides information on the collection of personal data when you visit my website.
                    Personal data comprises all information that can be used to personally identify you, e.g. name, address, email
                    addresses, user behaviour.
                </p>
                <p class="paragraph">
                    {
                        `b) The data controller for this website pursuant to Art. 4 (7) of the EU General Data Protection Regulation (GDPR) is ${name}, ${street}, ${zipCode} ${city}, ${country}. You can contact by sending an email or by writing to my postal address.`
                    }
                </p>
                <p class="paragraph">
                    c) When you contact me by email, I will store the data you disclose (your email address, name and phone
                    number) in order to answer your query as per Art. 6 (1) lit. f GDPR. Data collected for this purpose shall be
                    erased as soon as storage is no longer required, or I shall restrict the processing thereof in the case of
                    statutory retention obligations.
                </p>
                <p class="paragraph">
                    d) If I commission third-party services for the provision of individual features on my website or would like
                    to use your data for advertising purposes, I shall notify you in advance and obtain your consent. In this
                    case, I would like to point out that you will still be able to use my services as usual even if you do not
                    consent to the use of your data for other purposes. I only process your data for the purpose it was collected
                    with the determined criteria, in particular purpose and retention period. I would be happy to provide you with
                    information on your rights in this regard at any time.
                </p>
            </section>
            <section>
                <h2 class="headline-2">2. Your rights</h2>
                <p class="paragraph">You are entitled to the following rights regarding your personal data stored by me:</p>
                <ul class="ul">
                    <li>Right to information</li>
                    <li>Right to rectification or erasure</li>
                    <li>Right to restrict data processing</li>
                    <li>Right to object to processing</li>
                    <li>Right to data portability</li>
                </ul>
                <p class="paragraph">
                    You also reserve the right to lodge a complaint with a data protection supervisory authority in relation to
                    processing of your personal data carried out by me.
                </p>
            </section>
            <section>
                <h2 class="headline-2">3. Collection of personal data when you visit my website</h2>
                <h3 class="headline-3">3.1 General data</h3>
                <p class="paragraph">
                    In the case of purely informational uses of my website, i.e. when you do not register or disclose information
                    to me using any other method, I shall only collect the personal data that is transmitted to my server by your
                    browser. If you would like to view my website, I shall collect the following data, which is technically
                    required to display my website and ensure the stability and integrity of my website as per Art. 6 (1) lit. f
                    GDPR:
                </p>
                <ul class="ul">
                    <li>IP address</li>
                    <li>Date and time of the visit</li>
                    <li>Time difference to Greenwich Mean Time (GMT)</li>
                    <li>Content of the request (specific pages)</li>
                    <li>Access status/HTTP status code</li>
                    <li>Data volume transmitted per visit</li>
                    <li>Website from which the request originated</li>
                    <li>Browser</li>
                    <li>Operating system and the corresponding user interface</li>
                    <li>Language and version of the browser software</li>
                </ul>
                <h3 class="headline-3">3.2 Use of cookies</h3>
                <p class="paragraph">
                    In addition to the data stipulated above, cookies will also be saved on your device when you visit my website.
                    Cookies are small text files that are allocated to your browser and saved on your hard drive, which enables
                    the website that sets the cookie to receive certain information. Cookies are not able to execute programmes or
                    transfer viruses to your computer. Their purpose is to make the website as user-friendly and effective as
                    possible.
                </p>
                <p class="paragraph">
                    a) This website uses the following types of cookies, the scope and functioning of which shall be explained
                    below: Information to be supplied when data is collected from the data subject
                </p>
                <ul class="ul">
                    <li>Transient cookies (see b)</li>
                    <li>Persistent cookies (see c)</li>
                </ul>
                <p class="paragraph">
                    b) Transient cookies are automatically erased when you close your browser. They include session cookies. These
                    cookies store a session ID, which is used to assign various requests made during an individual session to your
                    browser.
                </p>
                <p class="paragraph">
                    This enables the future recognition of your device when you return to the website. Session cookies are deleted
                    when you log out or close your browser.
                </p>
                <p class="paragraph">
                    c) Persistent cookies are automatically erased after a defined period, which varies from cookie to cookie. You
                    can erase cookies in the security settings of your browser at any time.
                </p>
                <p class="paragraph">
                    d) You can configure your browser settings to your desired settings and block third-party or all cookies, for
                    example. I would like to note that objecting to cookies may prevent the proper functioning of certain features
                    on this website.
                </p>
            </section>

            <section class="my-20 md:my-32">
                <h2 class="headline-2">4. Individual tools I use on my website</h2>
                <h3 class="headline-3">4.1 Matomo</h3>
                <p class="paragraph">
                    I use Matomo to analyse traffic to my website. Matomo is an open source analytics alternative to Google
                    Analytics. Therefore no data is sent to third parties. My Matomo instance is self-hosted on servers in
                    Germany, which means that your data is stored on servers in the EU. You can visit my website without having to
                    worry about your data being used for marketing or advertising platforms.
                </p>
                <p class="paragraph">
                    I have additionally configured Matomo so that your IP address is only recorded in abbreviated form. I
                    therefore process your personal usage data anonymously. It is not possible for me to draw conclusions about
                    your person.
                </p>
                <p class="paragraph">Your data will be deleted automatically after 12 months.</p>
                <p class="paragraph">
                    I use request tracking without cookies. This means that tracking requests are sent to Matomo without your
                    consent, but no data will be stored on your device. Therefore you can't be tracked across websites.
                    Fingerprints change daily for every visitor meaning no visitor can be followed across days within the same
                    website, and no user profiles can be generated when cookies are disabled.
                </p>
                <p class="paragraph">
                    I use this service to gain an impression of the usage behaviour of my website visitors and to optimise the
                    website in terms of content, usability and stability accordingly.
                </p>
                <p class="paragraph">
                    However, if you wish to stop Matomo tracking completely, you can do so by ticking the following checkbox:<br
                    />
                    <CheckboxMatomoUserOptOut
                        client:load
                        className="my-4 inline-block"
                        id="matomo-opt-out"
                        labelLoading="Loading Matomo settings..."
                        labelOptedIn="You are currently opted in. Check this box to opt out."
                        labelOptedOut="You are currently opted out. Uncheck this box to opt in."
                    />
                </p>
            </section>
        </div>
    </section>
</Layout>
