---
import {getImage} from "astro:assets";
import assetImageSascha from "../assets/images/iphone-sascha@2x.png";
import {getBreakpoints} from "../helpers/tailwind-helpers";
import Editor from "./editor.astro";
import {numToPx} from "../helpers/converter-helpers";
import {Cv, Email} from "../data/resources";
import ClickTracker from "./click-tracker.astro";
import Icon from "./icons/index.astro";

const breakpoints = getBreakpoints();
const imageSaschaSm = await getImage({src: assetImageSascha, format: "webp", quality: "max", width: 100});
const imageSaschaMd = await getImage({src: assetImageSascha, format: "webp", quality: "max", width: 251});
---

<div class="content pt-32 pb-20 inline-flex items-center flex-col-reverse md:flex-row-reverse gap-x-32 gap-y-8 drop-shadow-2xl">
    <div class="flex flex-col gap-y-8 relative">
        <Icon
            iconId="saschaklatt"
            class="w-40 h-40 md:w-24 md:h-24 absolute -top-60 left-1/2 text-neutral-900 md:left-auto md:-top-5 md:right-0 rotate-12"
        />
        <h1 class="text-center md:text-left" slot="stage">
            <span class="block font-bold uppercase mb-4 text-2xl md:text-4xl text-neutral-900">Sascha Klatt</span>
            <span class="font-serif block text-4xl md:text-6xl">creative<br />full-stack dev</span>
        </h1>
        <Editor>
            <li>TypeScript</li>
            <li>React / Next.js / Astro</li>
            <li>Node.js</li>
            <li>MongoDB / MySQL</li>
            <li>Apollo GraphQL</li>
            <li>Sanity / Contentful</li>
            <li>Figma</li>
        </Editor>

        <div class="flex flex-col md:flex-row gap-y-2 md:gap-x-4 md:gap-y-0">
            <ClickTracker trackingEvent={{action: "click", category: "cta_email", name: "cta_email_stage-main"}}>
                <a {...Email.link} class="btn-accent w-full md:w-auto">Contact me!</a>
            </ClickTracker>
            <ClickTracker trackingEvent={{action: "click", category: "cta_cv", name: "cta_cv_stage-main"}}>
                <a {...Cv.link} class="btn-neutral w-full md:w-auto">Download CV</a>
            </ClickTracker>
        </div>
    </div>
    <div class="relative">
        <picture>
            <source srcset={imageSaschaSm.src} media={`(max-width: ${numToPx(breakpoints.md)})`} />
            <source srcset={imageSaschaMd.src} media={`(min-width: ${numToPx(breakpoints.md + 1)})`} />
            <img
                class="-rotate-6 -translate-x-10 md:translate-x-8 lg:translate-x-0"
                src={imageSaschaMd.src}
                alt="An iPhone showing Sascha Klatt smiling."
                loading="lazy"
            />
        </picture>
    </div>
</div>
