---
import {Image} from "astro:assets";
import type {Testimonial} from "../data/typedefs";

interface Props {
    headline: string;
    testimonials: Testimonial[];
}

const {headline, testimonials} = Astro.props;

const slides = testimonials.map((testimonial, idx) => ({...testimonial, id: `slide-${idx}`}));
---

<section>
    <div class="content flex flex-col items-center">
        <h2 class="font-serif text-4xl md:text-6xl flex flex-col items-center">
            {headline}
        </h2>

        <!-- Slides -->
        <ul class="my-20 flex overflow-x-auto snap-x snap-mandatory scroll-smooth max-w-full">
            {
                slides.map((slide) => (
                    <li
                        id={slide.id}
                        class="snap-start flex-shrink-0 w-full mr-8 origin-center scale-100 transition-transform relative flex justify-center items-center"
                    >
                        <p>{slide.text}</p>
                    </li>
                ))
            }
        </ul>

        <!-- Avatars -->
        <ul class="inline-flex flex-wrap gap-4">
            {
                slides.map(({referrer, id}) => (
                    <li class="w-20 h-20 rounded-full overflow-hidden">
                        <a href={`#${id}`}>
                            <Image src={referrer.image} alt={`Profile picture of ${referrer.firstName} ${referrer.lastName}`} />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</section>
