---
import HeaderSideline from "./header-sideline.astro";

interface Props {
    class?: string;
    classInner?: string;
    headline: string;
    id?: string;
    subline?: string;
}

const {class: className, classInner, headline, id, subline} = Astro.props;
---

<section class={className} id={id}>
    <div class="content">
        <HeaderSideline headline={headline} subline={subline} />
        <div class={classInner}>
            <slot />
        </div>
    </div>
</section>
