---
import type {CollectionEntry} from "astro:content";

interface Props {
    isActive: boolean;
    name?: string;
    testimonial: CollectionEntry<"testimonials">;
}

const {isActive, testimonial, name} = Astro.props;

const classMap = {
    root: {
        active: "after:opacity-100 after:scale-100 after:animate-pulse",
        inactive: "after:opacity-0 after:scale-75",
    },
    label: {
        active: "scale-150 opacity-100 shadow-2xl",
        inactive: "opacity-40 md:hover:scale-110 shadow-md",
    },
};
---

<div
    class:list={["relative text-center flex items-center", isActive ? classMap.root.active : classMap.root.inactive]}
    data-classes-active={classMap.root.active}
    data-classes-inactive={classMap.root.inactive}
    data-testimonial-id={testimonial.id}
>
    <input type="radio" name={name} id={testimonial.id} class="sr-only common-focus-label-after" checked={isActive} />
    <label
        for={testimonial.id}
        class:list={[
            "cursor-pointer no-tap-highlight inline-block rounded-full overflow-hidden transition-all",
            isActive ? classMap.label.active : classMap.label.inactive,
        ]}
        data-classes-active={classMap.label.active}
        data-classes-inactive={classMap.label.inactive}
    >
        <picture>
            <img
                src={testimonial.data.referrerImage?.src}
                alt={`Profile picture of ${testimonial.data.referrer}`}
                class="w-10 h-10 md:w-16 md:h-16"
                width="96"
                height="96"
                loading="lazy"
                draggable="false"
            />
        </picture>
    </label>
</div>
